.row.content {
    height: 450px;
    margin-top: 10px;
}
  
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}
  

html, body {
    height: 100%;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}


body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

#artistInfo {
    height: auto;
    width: auto;
    text-align: center;
    padding: 20px;
    border: gray solid 2px;
    margin-top: 50px;
}

.wrapper, .row {
    overflow: hidden;
    height: auto;
    position: relative;
    width: auto;
    align-content: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
  
.row.content {height: auto}
  
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
    width: auto;
}
  
.footer {
    position: fixed;
}


#artistInfo {
    height: auto;
    width: auto;
    text-align: center;
    padding: 20px;
    border: gray solid 2px;
    margin-top: 50px;
}


.row {
    margin-top: 10px;
}

.footer {
    height: 60px;
    background-color: #666666;
    border-top: 5px solid teal;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: -150px;
    bottom: 0; 
    position: relative;
    overflow: hidden;
    margin-top: 60px;
}


@media only screen  and (max-width: 980px) {
    .footer {
        margin-top: 20px;
    }
}
@media only screen  and (max-width: 980px) {
    .footer {
        margin-top: 20px;
    }

}
@media screen and (max-width: 640px) {
    .footer {
        margin-top: 20px;
    }
}

