.row.content {
    height: 100%;
    margin-top: 10px;
}
  
html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("antique-black-and-white-classic-1021876.jpg");
    overflow: auto;
}

.row {
    flex: 1;
}


.column0, .column1, .column2, .column3, .column4 {
    height: 500px;
    border: solid 2px gray;
    border-radius: 30px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.card-body {
    border-radius: 30px;
    background-color: #B4B7BA;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.column0 {
    height: auto;
    width: auto;
    background-color: #B4B7BA;
    opacity: 0.9;
    margin-bottom: 10px;
    border-radius: 30px;
}

.column1, .column3 {
    background-color: #B4B7BA;
    opacity: 0.9;
}

.column5 {
    background-color: #B4B7BA;
    opacity: 0.9;
    border: solid 2px gray;
    border-radius: 30px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

.column2, .column4 {
    background-color:  #59656F;
    opacity: 0.9;
}

.jumbotron {
    background-color: #59656F;
    color: white;
    border: solid 2px gray;
}

.column2 h2, .column2 h3, .column4 h2, .column4 p, .column4 h3 {
    background-color: #2C363F;
    color:#B4B7BA;
    border-radius: 30px;
    padding: 5px;
}

.column0 h2, .column1 h2, .column3 h2, .column5 h2, .column1 h3, .column3 h3 {
    background-color: #2C363F;
    color:#B4B7BA;
    border-radius: 30px;
    padding: 5px;
    width: auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.aboutPg p {
    height: 450px;
    width: 500px;
}

hr {
    padding-left: 10px;
    padding-right: 10px;
}

#newPlaylist {
    margin-top: 10px;
    padding: 5px;
}

#newPlaylist, #createBtn, #displayBtn {
    width: auto;
}

.container-fluid {
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #1d1e2c;
    border-radius: 30px;
}

.navbar-toggler {
    color: white;
}

#searchBar {
    border-radius: 30px;
}

.navbar-brand, .nav-link {
    color: white;
}
  
.row.content {height: auto;}

.searchBar, .form-info, .nav-item {
    float: left;
}

.footer {
    border: solid 2px gray;
    height: 60px;
    background-color: #59656F;
    color: white;    
    min-width: 100%;
    margin-top: 60px;
    padding-top: 15px;
}

.addPlaylist{
    margin:5px;
}

.btn-light{
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
}

td{
    transition: background-color .5s ease-in;
}

td:hover{
    background-color: white;
    cursor: pointer;
}

.recentlyPlayedBtn:hover {
    background-color: #B4B7BA;
    cursor: pointer;
}

.btn {
    background-color: #2C363F;
    border-radius: 30px;
    color: #B4B7BA;
}

.btn:hover {
    background-color:  #59656F;
    cursor: pointer;
    border-radius: 30px; 
}

.bioName2:hover {
    background-color: #B4B7BA;
    cursor: pointer;
    border-radius: 30px;
}

.bioName4:hover {
    background-color: #B4B7BA;
    cursor: pointer;
    border-radius: 30px;
}

.bioName1:hover {
    background-color: #2C363F;
    cursor: pointer;
    border-radius: 30px;
} 

.bioName3:hover {
    background-color: #2C363F;
    cursor: pointer;
    border-radius: 30px;
}

.recentlySearched {
    color: #B4B7BA;
}


#recentlyPlayed {
    height: 200px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
}

iframe{
    animation-duration: 2s;
    animation-name: fadeIn;
}

.playlist{
    height: 270px;
}

.spotifyPlayer{
    height: 330px;
}

.nav-item {
    color: white;
}

/* meta and lyrics info */
.songName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.meta, .lyrics {
    background-color: #F0EAD6;
}

.lyrics {
    text-align: center;
}

.albumName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.artistName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.lyricsBody {
    font-family: Arial, Helvetica, sans-serif;
    height: 250px;
    overflow: auto;
}

#clearSection {
    position:absolute;
    bottom: 10px;
    width: 100%;
    background: transparent;
}

.clearButton {
    margin: 0 auto;
}



@media only screen  and (max-width: 980px) {
    .footer {
        margin-top: 20px;
    }    

    /* meta and lyrics info */

    .meta {
        margin-bottom: 10px;
    }

    .lyrics {
        padding-bottom: 0px;
    }

    .songName {
        font-size: 20px;
    }
    
    .albumName {
        font-size: 15px;
    }
    
    .artistName {
        font-size: 15px;
    }

    .lyricsSection {
        margin-bottom: 5px;
    }

    .lyricsBody {
        height: 150px;
        margin-bottom: 0px;
    }
}
@media only screen  and (max-width: 768px) {

    
    .footer {
        margin-top: 20px;
    }

    .column4 {
        justify-content: center;
    }
}
@media screen and (max-width: 640px) {
    .footer {
        margin-top: 20px;
    }
}
